// main: ./drawer.scss


/*!------------------------------------*\
    Base
\*!------------------------------------*/

.drawer-open {
  overflow: hidden !important;
}

.drawer-nav {
  position: fixed;
  z-index: $drawer-nav-zIndex;
  top: 0;
  overflow: hidden;
  width: $drawer-width;
  height: 100%;
  color: $drawer-color;
  background-color: $drawer-bgColor;
  text-align: center;
}

.drawer-brand {
   display: block;
   img {
      height: 60px;
      width: auto;
   }
}
  // font-size: $drawer-brand-fontSize;
  // font-weight: bold;
  // line-height: $drawer-navbar-height;
  // padding-right: $drawer-gutter-x;
  // padding-left: $drawer-gutter-x;
  // text-decoration: none;
  // color: $drawer-brand-color;

.drawer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  // display: inline-flex;  //*** ME
  display: flex;  //*** ME
  justify-content: center;
  flex-direction: column;
  // background: PINK;
  // background: #3f51b5;
}

.drawer-menu li a{
// .drawer-menu-item {
  font-size: $drawer-fontSize;
  display: block;
  padding: $drawer-gutter-x;
  text-decoration: none;
  color: $drawer-link-color;
}

.drawer-menu li a:hover {
// .drawer-menu-item:hover {
  text-decoration: none;

  // text-decoration: underline;
  color: $drawer-hover-color;
  background-color: $drawer-hover-bgColor;
}

/*! overlay */
.drawer-overlay {
  position: fixed;
  z-index: $drawer-overlay-zIndex;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: $drawer-overlay-bgColor;
}

.drawer-open .drawer-overlay {
  display: block;
  // height: 100px;

}
