// main: ./drawer.scss

/*!------------------------------------*\
    Media
\*!------------------------------------*/

//* @media SM
//----------------------------------------------------*/
@media #{$drawer-viewport-sm} {
   // .drawer-menu {
   //    flex-direction: column;
   // }
   // .drawer-brand {
   //    // img {
   //    //    height: 60px;
   //    //    width: auto;
   //    // }
   // }
}


//* @media MD
//----------------------------------------------------*/
@media #{$drawer-viewport-md} {

}

//* @media LG
//----------------------------------------------------*/
@media #{$drawer-viewport-lg} {
   header {
   	position: relative;
   	margin: 0 auto;
      padding-top: 50px;
   	h1 {
         display: block;
   		margin: 0;
   		padding: 0;
   		text-align: center;
     	}
   	img {
   		width: 500px;
   		height: auto;
   	}
   }
   // .drawer-nav {
   //    background: #000;
   // }
   .drawer-menu {
      display: flex;
      // width: 480px;
      margin: 0 auto;
      flex-direction: row;
      // background: #ddd;
      // justify-content: space-between;
      justify-content: center;
   }
   .drawer-brand {
      display: none;
      // display: block;
      // border: 1px solid #ccc;
      margin-left: 70px;

      // img {
      //    display: none;
      // }
   }
   .drawer-navbar-header {
     height: 0;
   }
}





// $drawer-viewport-sm: '(min-width: 40em)' !default;
// $drawer-viewport-md: '(min-width: 64em)' !default;
// $drawer-viewport-lg: '(min-width: 75em)' !default;
