// main: ./drawer.scss
// * {
// 	margin: 0;
// 	padding: 0;
// }

html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	background: #fff;
}

header {
	position: relative;
	h1 {
		display: none;
	}
}
